@tailwind base;
@tailwind components;
@tailwind utilities;

.time-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.swiper {
    
    
    touch-action: none;
  }